# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.pid.lock

# Code-coverage tools
lib-cov
coverage
.nyc_output

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# Optional npm cache directory and REPL history
.npm
.node_repl_history

# dotenv environment variables file
.env

# secure content
secure
